body {
  background-color: #f7f7f7;
}

.header {
  padding: 20px 0;
}
.nav {
  display: flex;
  justify-content: center;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
}
.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}
.nav-link.active::after {
  background: #747bff;
}


.gallery {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(3, 360px);
  gap: 24px;
  margin: 0;
}

.gallery-item {
  margin: 0;
  padding: 0;
}

.gallery-image {
  
  object-fit: cover;
  display: block;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  max-width: 408px;
  height: 296px;
  margin: 50px auto;
  padding: 24px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  color: #2e2f42;
}

.label-email{
  display: flex;
  letter-spacing: 0.04em;
  padding-bottom: 32px;
}


.input-email{
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.textarea-label{
  border: 1px solid #808080;
  border-radius: 4px;
  resize: none;
  height: 80px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.button-submit{
  padding: 8px 16px;
  border-radius: 8px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  transition: background-color 0.3s;
}

.button-submit:hover {
  background-color: #6c8cff;;
}
  